* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(to right,#62b2ff,#6d9cff);
}
.container{
    width: 100%;
    max-width: 450px;
    text-align: center;
    padding: 40px 20px;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 6px 6px rgba(0,0,0,0.1);
}

h1{
   font-size: 26px;
   font-weight: 600;
   color: #202842; 
}


p{
    font-size: 12px;
    padding-top:8px ;
    font-weight: 400;
}

label{
    visibility: hidden;
}

input,
textarea{
 width: 100%;
 padding: 14px;
 border: 1px solid #ebebf2;
border-radius: 8px;
outline: none;
}

input::placeholder,textarea::placeholder{
    color:#8c91a1
}

input:focus, textarea:focus{
    border : 1px solid #7985ff;
}

button{
    width: 100%;
    padding: 14px;
    border-radius: 4px;
    border: 0;
    background-image: linear-gradient(to right, #62b2ff,#6d9cff);
   color: white;
   font-weight: 600;
   margin-top:12px ;
   cursor: pointer;
}